@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
	outline: 1px solid green;
} */

main {
	width: 100%;
	height: max-content;
}

table,
th,
td {
	border: 1px solid black;
}

td {
	padding: 5px;
}

.dash-cube {
	@apply h-[200px] p-4 text-blue-900 flex flex-col rounded-md justify-between gap-2 font-poppins w-[400px] shadow-lg bg-[#fff] hover:scale-[1.01] cursor-pointer transition-all ease-out duration-100;
}

.pie-box {
	@apply flex flex-col text-blue-700 text-3xl;
}
